<!DOCTYPE html>
<html>
  <head>
    <title>{{ env "CLUSTER_NAME" }} Kubeconfig</title>
    <style>
      body {
        font-family: 'sans-serif';
        width: 60%;
        margin: 0 auto;
      }
      code {
        font-size: 120%;
      }
      pre {
        display: block;
        background: #ddd;
        border: 1px solid #333;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 1ex;
        user-select: all;
      }
    </style>
  </head>
  <body>
    <h1>{{ env "CLUSTER_NAME" }} Kubeconfig</h1>
    <p>
    <pre><code>{{- readFile "kubeconfig" -}}</code></pre>
    </p>
    <p>
    <a href="./kubeconfig" download="{{ env "CLUSTER_NAME" }}.kubeconfig">Download</a>
    </p>
  </body>
</html>
